# Rob Mulla - EDA on Bikeshare Data

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

train_df = pd.read_csv('data/train.csv', index_col=0, infer_datetime_format=True)
train_df.index.name=None # Remove index name to remove confusing datetime column
train_df.index = pd.to_datetime(train_df.index) # Convert index to datetime
test_df = pd.read_csv('data/test.csv', index_col=0, infer_datetime_format=True)
test_df.index.name=None # Remove index name to remove confusing datetime column
test_df.index = pd.to_datetime(test_df.index) # Convert index to datetime

In [5]:
train_df.head(5)

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [6]:
test_df.head(5)

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed
2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027
2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000
2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0000
2011-01-20 03:00:00,1,0,1,1,10.66,12.880,56,11.0014
2011-01-20 04:00:00,1,0,1,1,10.66,12.880,56,11.0014

In [7]:
train_df.describe() #Summary of our training data

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
count,10886.000000,10886.000000,10886.000000,10886.000000,10886.00000,10886.000000,10886.000000,10886.000000,10886.000000,10886.000000,10886.000000
mean,2.506614,0.028569,0.680875,1.418427,20.23086,23.655084,61.886460,12.799395,36.021955,155.552177,191.574132
std,1.116174,0.166599,0.466159,0.633839,7.79159,8.474601,19.245033,8.164537,49.960477,151.039033,181.144454
min,1.000000,0.000000,0.000000,1.000000,0.82000,0.760000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,2.000000,0.000000,0.000000,1.000000,13.94000,16.665000,47.000000,7.001500,4.000000,36.000000,42.000000
50%,3.000000,0.000000,1.000000,1.000000,20.50000,24.240000,62.000000,12.998000,17.000000,118.000000,145.000000
75%,4.000000,0.000000,1.000000,2.000000,26.24000,31.060000,77.000000,16.997900,49.000000,222.000000,284.000000
max,4.000000,1.000000,1.000000,4.000000,41.00000,45.455000,100.000000,56.996900,367.000000,886.000000,977.000000

## Add Variables

In [8]:
# Add hour column

def transform_variables(df):
    df['hour'] = df.index.hour
    df['weekday name'] = df.index.weekday_name
    df['weekday'] = df.index.weekday
    df['weekofyear'] = df.index.weekofyear
    df['month'] = df.index.month
    df['quarter'] = df.index.quarter
    return df
    
train_df_mod = transform_variables(train_df)

## Plots plots plots!

In [9]:
import matplotlib.pyplot as plt
import plotly
import plotly.plotly as py
import plotly.graph_objs as go
import cufflinks as cf

ImportError: No module named plotly

In [10]:
df = cf.datagen.lines()
df.head()

NameError: name 'cf' is not defined

In [125]:
train_df.columns

Index([u'season', u'holiday', u'workingday', u'weather', u'temp', u'atemp',
       u'humidity', u'windspeed', u'casual', u'registered', u'count', u'hour',
       u'weekday name', u'weekday', u'weekofyear', u'month', u'quarter'],
      dtype='object')

In [1]:
train_df['casual'].iplot(kind='histogram', filename='basic-histogram', title='Casual riders', )

NameError: name 'train_df' is not defined

In [127]:
# Can't get this one to have title

data = [go.Histogram(x=train_df['count'])]
layout = go.Layout(
    title='Plot Title')
    
py.iplot(data, filename='basic histogram', layout=layout)

In [128]:
plotcols = ['casual']

layout = go.Layout(
    title='scatter plot with pandas',
    yaxis=dict(title='random distribution'),
    xaxis=dict(title='linspace')
)

py.iplot([{
    'x': train_df.index,
    'y': train_df[col],
    'name': col
}  for col in plotcols], 
         filename='simple-line')

In [129]:
from datetime import datetime

plotcols = ['registered']

layout = go.Layout(
    title='scatter plot with pandas',
    yaxis=dict(title='random distribution'),
    xaxis=dict(title='linspace')
)

py.iplot([{
    'x': train_df.index,
    'y': train_df[col],
    'name': col
}  for col in plotcols],
         kind = 'test',
         filename='simple-line')

In [131]:
train_df[['temp','atemp','humidity']].iplot(kind='scatter')

## Hour by Hour Analysis

In [132]:
# Modify df to get info per hour sum
train_hourlysums = train_df_mod.groupby(['hour']).sum()
train_hourlysums.head()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,weekday,weekofyear,month,quarter
hour,,,,,,,,,,,,,,,
0,1139,13,310,634,8651.00,10220.475,30976,4869.2116,4692,20396,25088,1371,11775,2963,1139
1,1136,13,309,650,8462.40,9993.210,31590,4730.1531,2957,12415,15372,1370,11739,2954,1136
2,1130,13,305,628,8268.06,9776.535,31639,4536.1412,2159,8100,10259,1352,11690,2939,1130
3,1107,12,289,607,7981.88,9445.465,31303,4405.0892,1161,3930,5091,1337,11558,2900,1107
4,1125,13,297,631,7972.04,9437.910,32549,4737.1814,558,2274,2832,1337,11685,2934,1125

In [133]:
# Modify df to get info per hour average
train_hourlymean = train_df_mod.groupby(['hour']).mean()
train_hourlymean.head()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,weekday,weekofyear,month,quarter
hour,,,,,,,,,,,,,,,
0,2.503297,0.028571,0.681319,1.393407,19.013187,22.462582,68.079121,10.701564,10.312088,44.826374,55.138462,3.013187,25.879121,6.512088,2.503297
1,2.502203,0.028634,0.680617,1.431718,18.639648,22.011476,69.581498,10.418839,6.513216,27.345815,33.859031,3.017621,25.856828,6.506608,2.502203
2,2.522321,0.029018,0.680804,1.401786,18.455491,21.822623,70.622768,10.125315,4.819196,18.080357,22.899554,3.017857,26.093750,6.560268,2.522321
3,2.556582,0.027714,0.667436,1.401848,18.433903,21.814007,72.293303,10.173416,2.681293,9.076212,11.757506,3.087760,26.692841,6.697460,2.556582
4,2.545249,0.029412,0.671946,1.427602,18.036290,21.352738,73.640271,10.717605,1.262443,5.144796,6.407240,3.024887,26.436652,6.638009,2.545249

In [134]:
from plotly.graph_objs import *

data = [Bar(y=train_hourlymean['temp'])]
layout=go.Layout(title="Temp over Average Day", xaxis={'title':'Hour of Day'}, yaxis={'title':'Average Temp'})
layout

py.iplot(go.Figure(data=data, layout=layout), filename='basic_bar_kaggle', title="temp by hour")

In [29]:
data1 = go.Bar(y=train_hourlymean['count'])
data2 = go.Scatter(y=train_hourlymean['casual'])
data3 = go.Scatter(y=train_hourlymean['registered'])
data=[data1, data2, data3]

layout=go.Layout(title="Average Riders Per Hour", xaxis={'title':'Hour of Day'}, yaxis={'title':'Average Riders'})
layout

py.iplot(go.Figure(data=data, layout=layout), filename='w207_riders_bar')

In [136]:
import plotly.figure_factory as ff

#fig = ff.create_scatterplotmatrix(train_df, height=800, width=800)
#py.iplot(fig, filename='Basic Scatterplot Matrix')

# Try Some Modeling

### Train Dev Split

In [137]:
from sklearn.cross_validation import train_test_split

In [138]:
features = ['season','holiday','workingday','weather','temp','atemp','humidity','windspeed']

X_train, X_dev , y_train, y_dev = train_test_split(train_df[features], train_df['count'], test_size = 0.2)
X_train = pd.DataFrame(X_train)
X_dev = pd.DataFrame(X_dev)
y_train = pd.DataFrame(y_train)
y_dev = pd.DataFrame(y_dev)

print X_train.shape
print X_dev.shape
print y_train.shape
print y_dev.shape

(8708, 8)
(2178, 8)
(8708, 1)
(2178, 1)

## Regression Model

In [139]:
from sklearn import linear_model

regr = linear_model.LinearRegression()
regr.fit(X_train, y_train)

# The coefficients
print('Coefficients: \n', regr.coef_)
# The mean squared error
# Explained variance score: 1 is perfect prediction
print('Variance score: %.2f' % regr.score(X_dev, y_dev))

('Coefficients: \n', array([[ 23.30026453,  -8.58068958,  -1.45221324,   3.51468025,
          1.93048598,   5.6405235 ,  -3.05421992,   0.81627511]]))
Variance score: 0.24

In [140]:
from sklearn.naive_bayes import GaussianNB

gnb = GaussianNB()

gnb.fit(X_train, y_train.values.ravel())
y_pred = gnb.predict(X_dev)
score = gnb.score(X_dev, y_dev)
print pd.DataFrame(y_pred).head(10)
print pd.DataFrame(y_dev).head(10)

     0
0  549
1  485
2  615
3  516
4  537
5  549
6  395
7  499
8  549
9  631
                     count
2012-01-12 08:00:00    508
2011-10-09 23:00:00    123
2012-06-16 02:00:00     67
2012-07-13 10:00:00    268
2012-04-17 22:00:00    162
2011-01-04 19:00:00    112
2011-12-07 06:00:00     18
2011-01-17 17:00:00     71
2011-03-01 23:00:00     25
2011-08-16 19:00:00    376